

body {
    font-family: Arial, sans-serif;
    background-color: green;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"],
input[type="number"],
button {
    display: block;
    width: 98%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

button {
    background-color:green;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color:gray;
}

#detallesVentas,
#sumaTotal,
#comision,
#mensajeFinal {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}